<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://twitterbotdemo19316.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/14073d66-b513-4df3-89a3-f14d470774f3/resourceGroups/twitterbot22556-rg/providers/Microsoft.Web/sites/twitterbotdemo19316</ResourceId>
    <UserName>$twitterbotdemo19316</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://twitterbotdemo19316.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>